<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link mt-5" href="/admin/dashboard">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <a class="nav-link" href="/admin/channelings">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-briefcase-medical"></i></div>
                    Channelings
                </a>
                <a class="nav-link" href="/admin/payments">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-money-bill"></i></div>
                    Payments
                </a>
                <a class="nav-link" href="/admin/doctors">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-user-doctor"></i></div>
                    Doctors
                </a>
                <a class="nav-link" href="/admin/patients">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-bed-pulse"></i></div>
                    Patients
                </a>
                <a class="nav-link" href="/admin/users">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                    Users
                </a>
                <a class="nav-link" href="/admin/contacts">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-message"></i></div>
                    Contact Messages
                </a>
            </div>
        </div>
    </nav>
</div>