<header class="header" >
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5 col-12">
                    <ul class="top-link">
                        <li style="color: #2C2D3F;"><i class="fa fa-phone" style="color: #1A76D1;"></i>+880 1234 56789</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-7 col-12">
                    <ul class="top-contact">
                        <li><i class="fa fa-envelope" ></i><a href="mailto:support@yourmail.com">support@yourmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-inner">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-12">
                        <div class="logo">
                            <a href="/"><img src="/images/main/logo.png" alt="#"></a>
                        </div>
                        <div class="mobile-nav"></div>
                    </div>
                    <div class="col-lg-7 col-md-9 col-12">
                        <div class="main-menu">
                            <nav class="navigation">
                                <ul class="nav menu">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/doctors">Doctors </a></li>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/contact">Contact Us</a></li>
                                    <li><a href="/login">Login</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-2 col-12">
                        <div class="get-quote">
                            <a href="appointment.html" class="btn">Book Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>