<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mediplus | Login</title>
    <%- include('components/mainCSS') %>
  </head>
  <body>
    <section
      class="appointment d-flex justify-content-center align-items-center"
    >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <a href="/"><img src="/images/main/logo.png" alt="#" /></a>
                        <h1 class="mt-5">Sign In</h1>
                    <img src="/images/main/section-img.png" alt="#" />
                    <p>
                        This login is use by our channeling center. if you are patient
                        please fill your apoinment form.
                    </p>
                    </div>
                </div>
            </div>

        <form class="form" class="d-flex d-md-inline-flex justify-content-center flex-column">
            <div class="w-100 d-flex justify-content-center">
                <div>
                    <div class="form-group">
                        <input name="email" class="text-lowercase" id="uname" type="email" placeholder="email address" required/>
                    </div>
                    <div class="form-group">
                        <input name="password" class="text-lowercase" id="pwrd" type="password" placeholder="password" required/>
                    </div>
                    <div class="w-100 text-right">
                        <a href="#">Forgot Password ?</a>
                    </div>
                    <div class="form-group text-center mt-3">
                        <div class="button">
                            <button type="submit" class="btn sign-btn">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sign
                                In&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
      </div>
    </section>

    <%- include('components/mainJS') %>
    <script>
        $('.sign-btn').click(function (e) { 
            e.preventDefault();
            
            const username = $('#uname').val();
            const pass = $('#pwrd').val();

            if (pass === "" || username === ""){
                showToast("All fields are required.", "err");
            }

        });

        const showToast = (message, type)=>{
            if (type == "err"){
                Toastify({
                    text: message,
                    duration: 3000,
                    close : true,
                    stopOnFocus : true,
                    gravity : "top",
                    position : "center",
                    style : {
                        background : "#f51905",
                        color : "#fff"
                    }
                }).showToast();
            }
            else{
                Toastify({
                    text: message,
                    duration: 3000,
                    close : true,
                    stopOnFocus : true,
                    gravity : "top",
                    position : "center",
                    style : {
                        background : "#03a80e",
                        color : "#fff"
                    }
                }).showToast();
            }
        }
    </script>
</body>
</html>
