<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Suwasetha | Doctors Form</title>
        <%- include('../components/cssIncludes') %>
        <style>
            .form{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }
            form{
                width: 500px;
            }
            h1{
                color: gray;
            }
            label{
                text-align: left;
            }
        </style>
    </head>
    <body>
        <div class="form">
            <form action="" method="post">
                <div>
                    <h1 class="text-center">Doctors Form</h1>
                    <p class="text-center">You can add doctors details using this form</p>
                </div>
                <div class="mt-5 w-100">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="text-start">First name</label>
                        <input type="text" name="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="first name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="text-start">Last name</label>
                        <input type="text" name="lastName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="last name">
                    </div>
                    <div class="form-group mt-2">
                        <label for="exampleInputPassword1">Email address</label>
                        <input type="email" name="email" class="form-control" id="exampleInputPassword1" placeholder="email address" required>
                    </div>      
                    <div class="form-group mt-2">
                        <label for="exampleInputPassword1">Contact number</label>
                        <input type="text" name="contact" class="form-control" id="exampleInputPassword1" placeholder="contact number">
                    </div>   
                    <div class="form-group mt-2">
                        <label for="exampleInputPassword1">Address</label>
                        <input type="text" name="address" class="form-control" id="exampleInputPassword1" placeholder="address">
                    </div>
                    <div class="form-group mt-2">
                        <label for="exampleInputPassword1">Working hours per day (by hours)</label>
                        <input type="number" name="workingHoursPerDay" class="form-control" id="exampleInputPassword1" placeholder="working hours per day" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="exampleInputPassword1">Average checking time per patient (by minutes)</label>
                        <input type="number" name="averageTimePerPatient" class="form-control" id="exampleInputPassword1" placeholder="average time take for patient" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="exampleInputPassword1">Doctor specialized in</label>
                        <select class="form-select" name="specializedIn" aria-label="Default select example" required>
                            <option value="General Pathologist">General Pathologist</option>
                            <option value="Pediatrician">Pediatrician</option>
                            <option value="Gynecologist">Gynecologist</option>
                            <option value="ENT specialist">ENT specialist</option>
                            <option value="Eye surgeon">Eye surgeon</option>
                            <option value="Consultant doctor">Consultant doctor</option>
                            <option value="Kidney specialist">Kidney specialist</option>
                            <option value="Neurologist">Neurologist</option>
                            <option value="Cardiologist">Cardiologist</option>
                        </select>
                    </div> 
                    <div class="form-group mt-2">
                        <span for="">Available Dates and Time</label>
                        <div class="d-block">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <div style="display: inline-block;"><input type="checkbox" name="availableDates[]" value="sunday" /> Sunday</div>
                                    <input type="time" name="monday" placeholder="time"/>
                                </div>
                                <div>
                                    <div style="display: inline-block;"><input type="checkbox" name="availableDates[]" value="monday" /> Monday</div>
                                    <input type="time" name="tuesday" placeholder="time" />
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <div style="display: inline-block;"><input type="checkbox" name="availableDates[]" value="tuesday" /> Tuesday </div>
                                    <input type="time" name="tuesday" placeholder="time"/>
                                </div>
                                <div>
                                    <div style="display: inline-block;"><input type="checkbox" name="availableDates[]" value="wednsday" /> Wednsday</div>
                                    <input type="time" name="wednsday" placeholder="time" />
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <div style="display: inline-block;"><input type="checkbox" name="availableDates[]" value="thursday" /> Thursday</div>
                                    <input type="time" name="thursday" placeholder="time"/>
                                </div>
                                <div>
                                    <div style="display: inline-block;"><input type="checkbox" name="availableDates[]" value="friday" /> Friday</div>
                                    <input type="time" name="friday" placeholder="time" />
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <div style="display: inline-block;"><input type="checkbox" name="availableDates[]" value="saturday" /> Saturday</div>
                                    <input type="time" name="saturday" placeholder="time"/>
                                </div>
                            </div>                            
                        </div> 
                    </div>
                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="/admin/doctors"><button type="button" class="btn btn-secondary">Cancel</button></a>
                    </div>                      
                </div>
            </form>
        </div>
        <%- include('../components/jsIncludes') %>
    </body>
</html>
